@page "/chat"
@rendermode InteractiveServer

<PageTitle>SecretParty Chat</PageTitle>
@using BootstrapBlazor.Components
@using Flurl.Http
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Mvc
@using SecretParty.Model
@using System.Reactive.Linq
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject AiProxy AiProxy
@inject NavigationManager NavigationManager;
@inject ChatService ChatService

@if (_messages == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="chatcontainer" id="chatcontainer">

		@if (sending)
		{
			<div class="row">
				<div class="col col-md-auto translateBetterpod ischat">
					<img src="img/say_aiv.webp" class="say_aiv" />
					<div class="chatbubble">
						<p class="typing">
							<span></span>
							<span></span>
							<span></span>
						</p>
					</div>
				</div>
				<div class="col">&nbsp;</div>
			</div>
		}
		@foreach (var request in _messages.Values.Reverse())
		{
			<div class="row">
				@if (request.IsHuman)
				{
					<div class="col">&nbsp;</div>
					<div class="col col-md-auto translateBetterpod person @(request.IsChat ? "ischat" : "notchat")">
						<img src="img/say_person.webp" class="say_person" />
						<div class="chatbubble">@((MarkupString)request.Text.Replace("\n", "<br/>"))</div>
					</div>
				}
				else
				{
					<div class="col col-md-auto translateBetterpod @(request.IsChat ? "ischat" : "notchat")">
						<img src="img/say_aiv.webp" class="say_aiv" />
						<div class="chatbubble">
							@((MarkupString)request.Text.Replace("\n", "<br/>"))
							@if (!string.IsNullOrWhiteSpace(request.img))
							{
								<a href="@request.img" target="_blank">
									<img src="@request.img" alt="@request.Text" />
								</a>
							}
						</div>
					</div>
					<div class="col">&nbsp;</div>
				}
			</div>
		}
	</div>
	<div class="chatbox row">
		<div class="col col-12">
			<img src="img/send.webp" @onclick="SendMessage" class="sendimage @(sending ? "disabled" : String.Empty)" alt="send chat to AI" />
			<div class="textcontainer">
				<textarea placeholder="Chat with Lisa M" rows="1" @bind="messageToSend"></textarea>
			</div>
		</div>
	</div>
	@if (_chat?.OtherParticipant != null)
	{
		<div class="hotornot">
			<div class="row">
				<div clas="col col-3">

					<p class="participantwidget">
						<a href="@_chat.OtherParticipant.Photo" target="_blank">
							<img src="@_chat.OtherParticipant.PhotoThumb" class="participantwidgetimage" />
						</a>
					</p>
				</div>
				<div clas="col col-3">Is @_chat.OtherParticipant.Name human?</div>
				<div clas="col col-3"><button @onclick="() => EndChat(true)">AI</button></div>
				<div clas="col col-3"><button @onclick="() => EndChat(false)">human</button></div>
			</div>
		</div>
	}
}

<Modal @ref="modal">
	<ModalDialog Title="Message" ShowCloseButton="false">

		<BodyTemplate>
			<div class="row">
				@if (_chat?.OtherParticipant != null)
				{
					<h4>Start mingling</h4>
					<p>
						<img src="@_chat?.OtherParticipant.PhotoThumb" class="chatwith" />
						You are chatting with @_chat.OtherParticipant.Name (@_chat.OtherParticipant.Age), the goal is to guess whether @_chat.GetOtherPronoun() is an AI or real human. If you guess correctly you get one point.
						<br/><br/>
						But do it quickly, if @_chat.GetOtherPronoun() <i>is</i> a human and guesses correctly before you then @_chat.GetOtherPronoun() gets the point instead.
					</p>
				}
				else
				{
					<h4>Chill</h4>
					<p>
						Seems everyone's busy and no-one to talk to. Sounds like it's time for a drink!
					</p>
				}
			</div>
		</BodyTemplate>
		<FooterTemplate>
			@if (_busy)
			{
				<button disabled="disabled" class="btn-secondary">Please wait...</button>
			}
			else if (_chat?.OtherParticipant != null)
			{

				<button value="Subscribe now" @onclick="() => modal.Close()">Chat</button>
			}
			else
			{
				<button class="btnPrimary" @onclick="Retry">Try again</button>

			}
		</FooterTemplate>
	</ModalDialog>

</Modal>


@code {
	[Parameter]
	[SupplyParameterFromQuery(Name = "party")]
	public string? PartyId { get; set; }

	private Modal modal;

	public bool _scrollDone;

	private string? messageToSend;

	private record Message(string Text, DateTimeOffset Timestamp, string Id, bool IsHuman, bool IsChat, bool IsError = false, string? img = null)
	{
	}

	private SortedList<DateTimeOffset, Message> _messages;

	private bool _init;
	private bool _busy;

	private async Task Retry()
	{
		_busy = true;
		try
		{
			if (_chat?.OtherParticipant != null)
			{
				return;
			}

			await GetChat();
			await modal.Show();
		}
		finally
		{
			_busy = false;
		}
	}

	private async Task GetChat()
	{
		_chat = await ChatService.StartChat(PartyId!);
		if (_chat is { OtherParticipant: not null })
		{
			ChatService.ChatUpdates.Where(x => x.Item1 == _chat.RowKey).Subscribe(x =>
			{
				var (chatId, chatMessageData) = x;
				var isHuman = chatMessageData.ParticipantId == _chat.Participant.RowKey;
				_messages.Add(chatMessageData.Timestamp, new Message(chatMessageData.Message, chatMessageData.Timestamp, Guid.NewGuid().ToString(), isHuman, true));
				sending = isHuman;
				InvokeAsync(() => base.StateHasChanged());

			});
			//sending = _chat.History.MaxBy(x => x.Timestamp)?.ParticipantId == _chat.Participant.RowKey;
		}
	}

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if (_init)
		{
			return;
		}
		_init = true;
		await GetChat();
		await modal.Show();

		_messages = new SortedList<DateTimeOffset, Message>();

		foreach (var chatMessageData in _chat.History)
		{
			_messages.Add(chatMessageData.Timestamp, new Message(chatMessageData.Message, chatMessageData.Timestamp, Guid.NewGuid().ToString(), chatMessageData.ParticipantId == _chat.Participant.RowKey, true));
		}
	}

	private bool sending;
	private ChatData? _chat;

	private async Task SendMessage()
	{
		if (sending)
		{
			return;
		}
		sending = true;
		try
		{
			if (string.IsNullOrWhiteSpace(messageToSend))
			{
				return;
			}

			var newChat = messageToSend;

			messageToSend = null;

			StateHasChanged();

			await JsRuntime.InvokeVoidAsync("ScrollBottom");

			await ChatService.Say(newChat, _chat);

			Task.Run(async () =>
			{
				await Task.Delay(200);
				await JsRuntime.InvokeVoidAsync("ScrollBottom");
			});
		}
		catch (Exception ex)
		{
			_messages.Add(DateTimeOffset.Now, new Message(ex.Message, DateTimeOffset.Now, Guid.NewGuid().ToString(), false, false, true));
		}
		finally
		{
			StateHasChanged();
		}
	}

	private async Task EndChat(bool isBot)
	{
		var correct = await ChatService.EndChat(_chat, isBot);
		if (correct)
		{
			await JsRuntime.InvokeVoidAsync("alert", "Correct! You get one point!");
		}
		else
		{
			await JsRuntime.InvokeVoidAsync("alert", "Wrong! No points for you");
		}

		_chat = null;
		_messages.Clear();
		sending = false;
		await Retry();
	}

}
